        head, body { 
            border: 5px solid #0004fa;
            background-color: #999999;
            color: #000000;           
            font-size: large; 
        }
        h1 {
            margin-top: 3cm;
            color: #ff0000;
            font-size: 10vw;
            -webkit-text-stroke: 1.5px #000000;
            font-family: 'Times New Roman', Times, Georgia, serif;
            text-align: center;
        }
        h2 {
            color: #ee0000;
            -webkit-text-stroke: 1.5px #000000;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }
        table {
            border: 0px solid black;
        }
        table.center {
            margin-left: auto;
            margin-right: auto;
        }
        tr, td {
            background-color: rgb(234, 234, 234);
            border: 5px solid rgb(234, 234, 234);
        }
        a:link, a:visited {
            color: #ff00ff;
            -webkit-text-stroke: 0.3px #ff00ff;
            background-color: rgba(0, 0, 0, 1);
            padding: 10px;
            border: 0px;
            border-radius: 15px;
            font-family: Arial, Helvetica, sans-serif;
        }
        a:hover, a:active {
            color: #ff0000;
            -webkit-text-stroke: 3px #ff0000;
            font-size: 2cm;
            transition: 0.4s;
        }
        .linkus:link, .linkus:visited {
            color: #ff00ff;
            -webkit-text-stroke: 0.3px #ff00ff;
            background-color: rgba(0, 0, 0, 1);
            padding: 10px;
            border: 0px;
            border-radius: 15px;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .linkus:hover, .linkus:active {
            color: #ff0000;
            -webkit-text-stroke: 1px #ff0000;
            font-size: 20px;
            transition: 1s;
        }
        .linkusus:link, .linkusus:visited {
            color: #ff00ff;
            -webkit-text-stroke: 0.3px #ff00ff;
            background-color: rgba(0, 0, 0, 1);
            padding: 10px;
            border: 0px;
            border-radius: 15px;
            font-size: 1cm;
            font-family: Arial, Helvetica, sans-serif;
        }
        .linkusus:hover, .linkusus:active {
            color: #ff0000;
            -webkit-text-stroke: 1px #ff0000;
            font-size: 1cm;
            transition: 1s;
        }
        .linkuss:link, .linkuss:visited {
            background-color: #f44336;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 0.7cm;
        }
        .linkuss:hover, .linkuss:active {
            background-color: red;
            -webkit-text-stroke: 0px red;
            color: white !important;
            font-size: 0.7cm;
        }
        p {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;          
        }
        .formhead {
            text-align: center;
            color:#ff0000;
            -webkit-text-stroke: 1px #000000;
            font-size: 20px;
        }
        input [type=radio] {
            width: 2.5vw;
        }
        .adam[type=radio] {
            margin-left: 35vw;
        }
        .adam[type=text] {
            margin-left: 35vw;
        }
        .adam[type=submit] {
            margin-left: 10vw;
        }
        .jaro[type=radio] {
                margin-right: 35vw;   
        }
        .header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding: 20px 2px;
            background: #110099;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            z-index: 80;
        }
        .header a {
            font-size: 30px;
            color: #ffff00;
            background-color: #000077;
            border: 0px;
            border-radius: 20px;
            padding: 10px;
            -webkit-text-stroke: 0px #ffff00;
        }
        .header a:hover, a:active {
            color: #ffff00;
            stroke: 0px #ffff00 ;
            -webkit-text-stroke: 0px #ffff00;
        }
        .navbar a {
            
            font-size: 18px;
            color: #ffff00;
            -webkit-text-stroke: 0px #ffff00;
            background-color: #000077;
            border: 0px;
            border-radius: 15px;
            padding: 6px;
        }
        .navbar a:hover, a:active {
            color: #ff0000;
            -webkit-text-stroke: 2px #ff0000;
            transition: 0.2s;
        }
        video {
            max-width: 100%;
        }
        .flex-container {
            display: flex;
            background-color: transparent;
            justify-content: center;
            flex-wrap: wrap;
          }
          
          .flex-container > div {
            background-color: #040404;
            width: 300px;
            margin: 10px;
            text-align: center;
            line-height: 125px;
            font-size: 30px;
            border-radius: 45px;
          }
          .divis {
            display: flex;
            background-color: transparent;
            justify-content: center;
            flex-wrap: wrap;
          }
          
          .divis > div {
            background-color: #353535;
            width: 900px;
            margin: 10px;
            text-align: center;
            line-height: 425px;
            font-size: 30px;
            border-radius: 45px;
          }