head, body { 
    border: 5px solid #bb3200;
    background-color: #999999;
    color: #000000;           
    font-size: large; 
}
h1 {
    margin-top: 3cm;
    color: #ff8400;
    font-size: 1.2cm;
    -webkit-text-stroke: 1.5px #000000;
    font-family: 'Times New Roman', Times, Georgia, serif;
    text-align: center;
}
h2 {
    color: #990000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
table {
    border: 0px solid black;
}
table.center {
    margin-left: auto;
    margin-right: auto;
}
tr, td {
    background-color: rgb(234, 234, 234);
    border: 5px solid rgb(234, 234, 234);
}
a:link, a:visited {
    color: #fff700;
    -webkit-text-stroke: 0.3px #fff700;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;
    border: 0px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover, a:active {
    color: #00ffff;
    -webkit-text-stroke: 3px #00ffff;
    font-size: 2cm;
    transition: 0.4s;
}
p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #660000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 80;
}
.header a {
    font-size: 40px;
    color: #ff8400;
    background-color: #400000;
    padding: 10px;
    border: 0px;
    border-radius: 15px;
    -webkit-text-stroke: #00ff00;
}
.header a:hover, a:active {
    color: #ff8400 ;
    stroke: 0px #00ff00 ;
    -webkit-text-stroke: #00ff00;
}
.navbar a {
    font-size: 22px;
    color: #cccc00;
    -webkit-text-stroke: 0px #00ff00;
}
.navbar a:hover, a:active {
    color: #00ffff;
    -webkit-text-stroke: 2px #00ffff;
    transition: 0.6s;
}