head, body { 
    border: 5px solid #9900eb;
    background-color: #999999;
    color: #000000;           
    font-size: large; 
}
h1 {
    color: #0d7e00;
    font-size: 1.2cm;
    -webkit-text-stroke: 1.5px rgb(35, 2, 60);
    font-family: 'Times New Roman', Times, Georgia, serif;
    text-align: center;
}
h2 {
    color: #02a202;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
table {
    border: 0px solid black;
}
table.center {
    margin-left: auto;
    margin-right: auto;
}
tr, td {
    background-color: rgb(174, 174, 174);
    border: 5px solid rgb(174, 174, 174);
}
a:link, a:visited {
    color: #9200cc;
    -webkit-text-stroke: 0.3px #00ffee;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover, a:active {
    color: #00ff00;
    -webkit-text-stroke: 3px #00ff00;
    font-size: 2cm;
    transition: 0.4s;
}
p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #087e00;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 80;
}
.header a {
    font-size: 40px;
    color: #ff002f;
    -webkit-text-stroke: 0px #ff002f;
}
.header a:hover, a:active {
    color: #ff002f;
    stroke: 0px #ff002f ;
}
.navbar a {
    font-size: 22px;
    color: #ff00cc;
    -webkit-text-stroke: 0px #ff00cc
}
.navbar a:hover, a:active {
    color: #00ff00;
    -webkit-text-stroke: 2px #00ff00;
    transition: 0.4s;
}